In [1]:
import numpy as np
from  pandas import DataFrame

In [4]:
import pandas.util.testing as tm
tm.N=3

def unpivot(frame):
    N,K=frame.shape
    data={'value':frame.values.ravel('F'),
         'variable':np.asarray(frame.columns).repeat(N),
         'data':np.tile(np.asarray(frame.index),K)}
    return DataFrame(data,columns=['data','variable','value'])

dframe=unpivot(tm.makeTimeDataFrame())

In [5]:
dframe

         data variable     value
0  2000-01-03        A  0.866246
1  2000-01-04        A  1.036998
2  2000-01-05        A  0.034540
3  2000-01-03        B -0.777277
4  2000-01-04        B  0.756641
5  2000-01-05        B  0.732092
6  2000-01-03        C -0.827963
7  2000-01-04        C  0.943318
8  2000-01-05        C  1.514958
9  2000-01-03        D -0.237169
10 2000-01-04        D -1.485509
11 2000-01-05        D  0.769392

In [7]:
dframe_piv=dframe.pivot('data','variable','value')

In [8]:
dframe_piv

variable           A         B         C         D
data
2000-01-03  0.866246 -0.777277 -0.827963 -0.237169
2000-01-04  1.036998  0.756641  0.943318 -1.485509
2000-01-05  0.034540  0.732092  1.514958  0.769392

#dataをどのようにまとめるかは場合による