In [62]:
import pandas as pd 
from pandas import Series,DataFrame

In [63]:
heartdis_df=pd.read_csv('heart.csv')

In [64]:
heartdis_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# Context
This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to this date. The "goal" field refers to the presence of heart disease in the patient. It is integer valued from 0 (no presence) to 4.

Content

Attribute Information: 
> 1. age 
> 2. sex 
> 3. chest pain type (4 values) 
cp: chest pain type -- Value 1: typical angina 
                    -- Value 2: atypical angina
                    -- Value 3: non-anginal pain 
                    -- Value 4: asymptomatic 
> 4. resting blood pressure 
> 5. serum cholestoral in mg/dl 
> 6. fasting blood sugar > 120 mg/dl
> 7. resting electrocardiographic results (values 0,1,2)
> 8. maximum heart rate achieved 
> 9. exercise induced angina 
> 10. oldpeak = ST depression induced by exercise relative to rest 
> 11. the slope of the peak exercise ST segment 
> 12. number of major vessels (0-3) colored by flourosopy 
> 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
The names and social security numbers of the patients were recently removed from the database, replaced with dummy values. One file has been "processed", that one containing the Cleveland database. All four unprocessed files also exist in this directory.

To see Test Costs (donated by Peter Turney), please see the folder "Costs"

Acknowledgements
Creators: 
1. Hungarian Institute of Cardiology. Budapest: Andras Janosi, M.D. 
2. University Hospital, Zurich, Switzerland: William Steinbrunn, M.D. 
3. University Hospital, Basel, Switzerland: Matthias Pfisterer, M.D. 
4. V.A. Medical Center, Long Beach and Cleveland Clinic Foundation: Robert Detrano, M.D., Ph.D.

Donor: David W. Aha (aha '@' ics.uci.edu) (714) 856-8779

Inspiration
Experiments with the Cleveland database have concentrated on simply attempting to distinguish presence (values 1,2,3,4) from absence (value 0).

See if you can find any other trends in heart data to predict certain cardiovascular events or find any clear indications of heart health.

In [65]:
htdis_target=heartdis_df['cp']

In [66]:
def disease_name(num):
    if num==0:
        return 'typical angina'
    elif num==1:
        return 'atypical angina'
    elif num==2:
        return 'non-anginal pain'
    else:
        return 'asymptomatic'
# -- Value 1: typical angina 
# -- Value 2: atypical angina
# -- Value 3: non-anginal pain 
# -- Value 4: asymptomatic

In [67]:
htdis_target=htdis_target.apply(disease_name)

In [68]:
htdis_target

0          asymptomatic
1      non-anginal pain
2       atypical angina
3       atypical angina
4        typical angina
5        typical angina
6       atypical angina
7       atypical angina
8      non-anginal pain
9      non-anginal pain
10       typical angina
11     non-anginal pain
12      atypical angina
13         asymptomatic
14         asymptomatic
15     non-anginal pain
16     non-anginal pain
17         asymptomatic
18       typical angina
19         asymptomatic
20       typical angina
21     non-anginal pain
22       typical angina
23     non-anginal pain
24         asymptomatic
25      atypical angina
26     non-anginal pain
27     non-anginal pain
28     non-anginal pain
29     non-anginal pain
             ...
273      typical angina
274      typical angina
275      typical angina
276      typical angina
277     atypical angina
278     atypical angina
279      typical angina
280      typical angina
281      typical angina
282    non-anginal pain
283      typical angina
284      typical angina
285      typical angina
286        asymptomatic
287     atypical angina
288      typical angina
289      typical angina
290      typical angina
291      typical angina
292      typical angina
293    non-anginal pain
294      typical angina
295      typical angina
296      typical angina
297      typical angina
298      typical angina
299        asymptomatic
300      typical angina
301      typical angina
302     atypical angina
Name: cp, Length: 303, dtype: object

In [69]:
heartdis_df=pd.concat([heartdis_df,htdis_target],axis=1)

In [70]:
heartdis_df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,cp
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,asymptomatic
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,non-anginal pain
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,atypical angina
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,atypical angina
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,typical angina

In [71]:
import seaborn

In [72]:
import seaborn as sns

In [73]:
sns.countplot('cp',data=heartdis_df,size=4,hue='cp')

TypeError: cannot label index with a null key